<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PAPER</title>
    {% include "support/cssjs.html" %}
</head>
<style>
</style>

<body class="navbar-md-md-top">
    {% include "support/navbar.html" %}
    <!-- Page content -->
    <div class="page-content pt-0">
        {% include "support/sidebar.html" %}
        <!-- Main content -->
        <div class="content-wrapper" id="appcontent">

            <!-- Content area -->
            <div class="content">

                <!-- Basic card -->
                <div class="card">
                    <div class="card-header header-elements-inline">
                        <h5 class="card-title">Client</b></h5>
                        <div class="header-elements">
                            <div class="list-icons">
                                <a class="list-icons-item" data-action="collapse"></a>
                                <a class="list-icons-item" data-action="reload"></a>
                                <a class="list-icons-item" data-action="remove"></a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-md-12">
                                <button @click="openModal('add')" type="button" class="btn bg-pink rounded-round"><i
                                        class="icon-add mr-2"></i>
                                    Client</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead class="bg-blue-600">
                                            <th>No.</th>
                                            <th>Code</th>
                                            <th>Nama Client</th>
                                            <th>No Tlpn</th>
                                            <th>Email</th>
                                            <th>No NPWP</th>
                                            <th>Action</th>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(v,k) in isitbl">
                                                <th>((k+1))</th>
                                                <th>((v.idclient))</th>
                                                <th>((v.nmclient))</th>
                                                <th>((v.notlp))</th>
                                                <th>((v.email))</th>
                                                <th>((v.nonpwp))</th>
                                                <td>
                                                    <div class="list-icons">
                                                        <a @click="openDetail(((v.idclient)))" href="#"
                                                            class="list-icons-item" data-popup="tooltip" title="Info"
                                                            data-container="body">
                                                            <i class="icon-info3"></i>
                                                        </a>
                                                        <a @click="openModal(((v.idclient)))" href="#"
                                                            class="list-icons-item" data-popup="tooltip" title="Edit"
                                                            data-container="body">
                                                            <i class="icon-pencil7"></i>
                                                        </a>
                                                        <a @click="processDel(((v.idclient)))" href="#"
                                                            class="list-icons-item" data-popup="tooltip" title="Remove"
                                                            data-container="body">
                                                            <i class="icon-trash"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="modalForm" class="modal " tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header bg-primary">
                                    <h6 class="modal-title">((ketAct))</h6>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="">Code</label>
                                                <input id="frmcode" type="text" class="form-control"
                                                    v-model="frm1.code">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="">Nama Client</label>
                                                <input type="text" class="form-control" v-model="frm1.nama"
                                                    placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="">No. NPWP</label>
                                                <input onfocus="this.select()" type="text" class="form-control"
                                                    v-model="frm1.nonpwp" placeholder="jika kosong: -">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Email</label>
                                                <input type="text" class="form-control" v-model="frm1.email">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">No Telp</label>
                                                <input type="text" class="form-control" v-model="frm1.tlpn">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Kabupaten/Kota</label>
                                                <input type="text" class="form-control" v-model="frm1.kabkot">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Provinsi</label>
                                                <select class="form-control" @change="selectClient($event)"
                                                    v-model="frm1.prov">
                                                    <option v-for="(v, k) in provinsi" v-bind:value="v.name">
                                                        ((v.name))</option>
                                                </select>
                                            </div>

                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="">Negara</label>
                                                <input type="text" class="form-control" v-model="frm1.negara">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="">Pos Code</label>
                                                <input type="text" class="form-control" v-model="frm1.poscode">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Tanggal Mulai</label>
                                                <input type="date" class="form-control" v-model="frm1.tglmulai">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Nama Gedung/Kantor</label>
                                                <textarea class="form-control" rows="2"
                                                    placeholder="ex: nama jalan, gang, gedung"
                                                    v-model="frm1.alamat1"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Alamat</label>
                                                <textarea onfocus="this.select()" class="form-control" rows="2"
                                                    placeholder="ex: desa/kelurahan, kecamatan"
                                                    v-model="frm1.alamat2"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn bg-primary" v-show="add" @click="btnAddFrm">Add
                                        Data</button>
                                    <button type="button" class="btn bg-warning" v-show="edit" @click="btnEditFrm">Edit
                                        Data</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /basic card -->

            </div>
            <!-- /content area -->

        </div>
        <!-- /main content -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        let swalInit = swal.mixin({
            buttonsStyling: false,
            confirmButtonClass: 'btn btn-primary',
            cancelButtonClass: 'btn btn-light'
        });
        let appcontent = new Vue({
            el: '#appcontent',
            delimiters: ['((', '))'],
            data: {
                ketAct: 'Add Client',
                add: true,
                edit: false,
                isitbl: [],
                provinsi: [
                    {
                        "id": 11,
                        "name": "Aceh"
                    },
                    {
                        "id": 12,
                        "name": "Sumatera Utara"
                    },
                    {
                        "id": 13,
                        "name": "Sumatera Barat"
                    },
                    {
                        "id": 14,
                        "name": "Riau"
                    },
                    {
                        "id": 15,
                        "name": "Jambi"
                    },
                    {
                        "id": 16,
                        "name": "Sumatera Selatan"
                    },
                    {
                        "id": 17,
                        "name": "Bengkulu"
                    },
                    {
                        "id": 18,
                        "name": "Lampung"
                    },
                    {
                        "id": 19,
                        "name": "Kepulauan Bangka Belitung"
                    },
                    {
                        "id": 21,
                        "name": "Kepulauan Riau"
                    },
                    {
                        "id": 31,
                        "name": "Dki Jakarta"
                    },
                    {
                        "id": 32,
                        "name": "Jawa Barat"
                    },
                    {
                        "id": 33,
                        "name": "Jawa Tengah"
                    },
                    {
                        "id": 34,
                        "name": "Di Yogyakarta"
                    },
                    {
                        "id": 35,
                        "name": "Jawa Timur"
                    },
                    {
                        "id": 36,
                        "name": "Banten"
                    },
                    {
                        "id": 51,
                        "name": "Bali"
                    },
                    {
                        "id": 52,
                        "name": "Nusa Tenggara Barat"
                    },
                    {
                        "id": 53,
                        "name": "Nusa Tenggara Timur"
                    },
                    {
                        "id": 61,
                        "name": "Kalimantan Barat"
                    },
                    {
                        "id": 62,
                        "name": "Kalimantan Tengah"
                    },
                    {
                        "id": 63,
                        "name": "Kalimantan Selatan"
                    },
                    {
                        "id": 64,
                        "name": "Kalimantan Timur"
                    },
                    {
                        "id": 65,
                        "name": "Kalimantan Utara"
                    },
                    {
                        "id": 71,
                        "name": "Sulawesi Utara"
                    },
                    {
                        "id": 72,
                        "name": "Sulawesi Tengah"
                    },
                    {
                        "id": 73,
                        "name": "Sulawesi Selatan"
                    },
                    {
                        "id": 74,
                        "name": "Sulawesi Tenggara"
                    },
                    {
                        "id": 75,
                        "name": "Gorontalo"
                    },
                    {
                        "id": 76,
                        "name": "Sulawesi Barat"
                    },
                    {
                        "id": 81,
                        "name": "Maluku"
                    },
                    {
                        "id": 82,
                        "name": "Maluku Utara"
                    },
                    {
                        "id": 91,
                        "name": "Papua Barat"
                    },
                    {
                        "id": 94,
                        "name": "Papua"
                    }
                ].sort(),
                frm1: {
                    "tmpcode": '',
                    "code": '',
                    "nama": '',
                    "email": '',
                    "tlpn": '',
                    "alamat1": '',
                    "alamat2": '',
                    "kabkot": '',
                    "prov": '',
                    "negara": '',
                    "poscode": '',
                    "nonpwp": '',
                    "tglmulai": '',
                },
            },
            mounted() {
                console.log('Run Awal')
                $('.select-search').select2({
                    placeholder: "Silahkan Pilih Wilayah..",
                });
                $.get("getclient").done(data => {
                    this.isitbl = JSON.parse(data)
                })

            },
            methods: {
                openModal(apa = "add") {
                    if (apa == "add") {
                        this.frm1.tmpcode = "00"
                        this.frm1.code = ""
                        this.frm1.nama = ""
                        this.frm1.email = ""
                        this.frm1.tlpn = ""
                        this.frm1.alamat1 = ""
                        this.frm1.alamat2 = "-"
                        this.frm1.kabkot = ""
                        this.frm1.prov = ""
                        this.frm1.negara = "Indonesia"
                        this.frm1.poscode = "-"
                        this.frm1.nonpwp = "-"
                        this.frm1.tglmulai = ""
                        this.ketAct = "Add Client";
                        this.btnFrm(true, false)
                    } else {
                        let idx = this.findById(apa, "idclient")
                        let jsn = this.isitbl[idx]
                        this.frm1.tmpcode = jsn.idclient
                        this.frm1.code = jsn.idclient
                        this.frm1.nama = jsn.nmclient
                        this.frm1.email = jsn.email
                        this.frm1.tlpn = jsn.notlp
                        this.frm1.alamat1 = jsn.alamat1
                        this.frm1.alamat2 = jsn.alamat2
                        this.frm1.kabkot = jsn.kabkot
                        this.frm1.prov = jsn.prov
                        this.frm1.negara = jsn.negara
                        this.frm1.poscode = jsn.poscode
                        this.frm1.nonpwp = jsn.nonpwp
                        this.frm1.tglmulai = jsn.tglmulai
                        this.ketAct = "Edit Client";
                        this.btnFrm(false, true)
                    }
                    $("#modalForm").modal("show")
                    $("#frmcode").select()
                },
                selectClient(evt) {
                    console.log(evt.target.value)
                },
                openDetail(isi) {
                    let idx = this.findById(isi, "idclient")
                    let jsn = this.isitbl[idx]
                    this.frm1.tmpcode = jsn.idclient
                    this.frm1.code = jsn.idclient
                    this.frm1.nama = jsn.nmclient
                    this.frm1.email = jsn.email
                    this.frm1.tlpn = jsn.notlp
                    this.frm1.alamat1 = jsn.alamat1
                    this.frm1.alamat2 = jsn.alamat2
                    this.frm1.kabkot = jsn.kabkot
                    this.frm1.prov = jsn.prov
                    this.frm1.negara = jsn.negara
                    this.frm1.poscode = jsn.poscode
                    this.frm1.nonpwp = jsn.nonpwp
                    this.frm1.tglmulai = jsn.tglmulai
                    this.ketAct = "Detail Client";
                    this.btnFrm(false, false)
                    $("#modalForm").modal("show")
                    $('#modalForm').on('show.bs.modal', function () {
                        $("#modalForm").find("input").attr("disabled")
                        $("#modalForm").find("select").attr("disabled")
                    });
                    $('#modalForm').on('hidden.bs.modal', function () {
                        $("#modalForm").find("input").removeAttr("disabled")
                        $("#modalForm").find("select").removeAttr("disabled")
                    });
                },
                testsend() {
                    let jsn = { "data": { "apa": 123, "tes": 345 }, "no": 11 }
                    $.post("testing", jsn)
                        .done((data) => {
                            console.log(data)
                        })
                        .fail((xhr, msg, txt) => {
                            console.log(xhr, msg, txt)
                        })
                },
                btnAddFrm() {
                    let idx = this.findById(this.frm1.code, "idclient")
                    if (idx > -1) { this.msgFrm("Uppss.!", "Masukkan Code yang lain..!", "error"); return; }
                    if (!this.validasi()) { this.msgFrm("Uppss.!", "Fill All Data Data..!", "error"); return; }
                    $.post("addClient", this.frm1).done(data => {
                        $("#modalForm").modal("hide")
                        this.msgFrm("Success.!", "Success Add Data..!", "success")
                        this.isitbl = JSON.parse(data)
                    })
                },
                btnEditFrm() {
                    //if (!this.validasi()) { this.msgFrm("Uppss.!", "Fill All Data Data..!", "error"); return; }
                    $.post("editClient", this.frm1).done(data => {
                        $("#modalForm").modal("hide")
                        this.msgFrm("Success.!", "Success Edit Data..!", "success")
                        this.isitbl = JSON.parse(data)
                    })
                },
                processDel(idnya = false) {
                    if (idnya !== false) {
                        swalInit({
                            title: 'Are you sure Delete?',
                            text: "You won't be able to revert this!",
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonText: 'Yes, delete it!',
                            cancelButtonText: 'No, cancel!',
                            confirmButtonClass: 'btn btn-success',
                            cancelButtonClass: 'btn btn-danger',
                            buttonsStyling: false
                        }).then(result => {
                            if (result.value) {
                                $.post("delClient", { "id": idnya }).done(data => {
                                    this.msgFrm("Success.!", "Success Delete Data..!", "success")
                                    this.isitbl = JSON.parse(data)
                                })
                            }
                        });
                    }
                },
                msgFrm(ttl, txt, typ) {
                    swalInit({
                        title: ttl,
                        text: txt,
                        type: typ
                    });
                },
                btnFrm(b1 = true, b2 = false) {
                    this.add = b1; this.edit = b2;
                },
                findById(tmpid, apa) {
                    let idxToRemove
                    this.isitbl.forEach(function (dt, index) {
                        if (dt[apa] == tmpid) idxToRemove = index;
                    });
                    return idxToRemove
                },
                validasi() {
                    for (var key in this.frm1) {
                        if (this.frm1[key] === '' || this.frm1[key] == '' || this.frm1[key] === null || this.frm1[key] == null) {
                            //console.log(this.frm1[key], key)
                            return false
                        }
                    }
                    return true
                },
            }
        })
    </script>
</body>

</html>